html {
	height: 100%; 
	width: 100%;
}
body {
    height:				100%;
  	width: 				100%;
 	padding:			0;
   	margin: 			0;
  	border: 			0;
   	font: 				13px/15px Verdana, Arial, Helvetica, sans-serif;
   	background-color: 	#000000;	
}
aside {
    background-color:	#5c8a8a;
	float: 				left;
	height: 			100%;
	width: 				15%;
}
aside ul {
	list-style-type: 	none;
}
main {
	background-color: 	#ffffff;
	float: 				right;
	height: 			100%;
	width: 				85%;			
}
footer {
	clear: 				both;
	text-align: 		center;	
	color: 				#ffffff;
}			
nav ul {
    padding: 			0;
}
nav li {
	display: 			inline;
	background: 		#689DC1;
}
nav li a {
    background-color: 	#000000;
    color: 				#ffffff;
    padding: 			10px 10px;
    text-decoration: 	none;
    border-radius: 		15px 2px 0px 0px;
}
nav li a:hover {
    background-color: 	#5c8a8a;
    color: 				#ffffff;
}
nav li#login_logout {
	float:right;
}
img {
	border: 			none;
}
div.thumbnail {
	float: 				left;
	margin-left: 		20px;
	margin-bottom:		20px;
}
div.thumbnail img {
	width: 				150px; 
	height: 			100px;
	opacity: 			0.30;
}
div.color_on img {
	opacity: 			1.00;
}
.background {
	position: relative;
    height:				100%;
    width: 				100%;
    overflow: 			hidden;
}
#background_img {
    width: 				100%;
    height: 			100%;
    overflow: 			hidden;
	opacity: 			0.70;
}
