html {
	height: 100%; 
	width: 100%;
}
body {
    height:				100%;
  	width: 				100%;
 	padding:			0;
   	margin: 			0;
  	border: 			0;
   	font: 				13px/15px Verdana, Arial, Helvetica, sans-serif;
   	background-color: 	#000000;	
}

/* side navigation */
aside {
    background-color:	#5c8a8a;
	float: 				left;
	height: 			100%;
	width: 				15%;
}
aside ul {
	list-style-type: 	none;
}

/* main contents */
main {
	background-color: 	#ffffff;
	float: 				right;
	height: 			100%;
	width: 				100%;			
}

/* footer */
footer {
	clear: 				both;
	text-align: 		center;	
	color: 				#ffffff;
}

/* top navigation */			
nav ul {
    padding: 			0;
}
nav li {
	display: 			inline;
	background: 		#689DC1;
}
nav li a {
    background-color: 	#000000;
    color: 				#ffffff;
    padding: 			10px 10px;
    text-decoration: 	none;
    border-radius: 		15px 2px 0px 0px;
}
nav li a:hover {
    background-color: 	#5c8a8a;
    color: 				#ffffff;
}
nav li#login_logout {
	float:right;
}

/* images */
img {
	border: 			none;
}
div.thumbnail {
	float: 				left;
	margin-left: 		20px;
	margin-bottom:		20px;
}
div.thumbnail img {
	width: 				150px; 
	height: 			100px;
	opacity: 			0.30;
}
div.color_on img {
	opacity: 			1.00;
}

/* main menu background */
.background {
	position: relative;
    height:				100%;
    width: 				100%;
    overflow: 			hidden;
}
#background_img {
    width: 				100%;
    height: 			100%;
    overflow: 			hidden;
	opacity: 			0.70;
}

/* drop down menu */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color:#f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}
.dropdown:hover .dropdown-content {
	display: block;
}


/* header drop down*/
#nav{
	list-style:none;
	font-weight:bold;
	margin-bottom:0px;
	float:left; /* Clear floats */
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;
}
#nav a:hover{
	color:#fff;
	background:#6b0c36;
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#6b0c36;
	text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333;
}





















