html {
	height: 100%;
	width: 100%;
}
body {
	height:				100%;
	width: 				100%;
	padding:			0;
	margin: 			0;
	border: 			0;
	font: 				13px/15px Verdana, Arial, Helvetica, sans-serif;
	background-color: 	#000000;
}

/* side navigation */
aside {
	background-color:	#5c8a8a;
	float: 				left;
	height: 			100%;
	width: 				15%;
}
aside ul {
	list-style-type: 	none;
}

/* main contents */
main {
	background-color: 	#ffffff;
	float: 				right;
	height: 			100%;
	width: 				100%;
}

/* footer */
footer {
	clear: 				both;
	text-align: 		center;
	color: 				#ffffff;
}

/* top navigation */
nav ul {
	padding: 			5px;
}
nav li {
	display: 			inline;
	margin-left:		10px;
}
nav li a {
	background-color: 	#000000;
	color: 				#ffffff;
	text-decoration: 	none;
}
nav li a:hover {
	text-decoration:	none;
}
nav li#login_logout {
	float:				right;
}

/* images */
img {
	border: 			none;
}
div.thumbnail {
	float: 				left;
	margin-left: 		20px;
	margin-bottom:		20px;
}
div.thumbnail img {
	width: 				150px;
	height: 			100px;
	opacity: 			0.30;
}
div.color_on img {
	opacity: 			1.00;
}

/* main menu background */
.background {
	position: relative;
	height:				100%;
	width: 				100%;
	overflow: 			hidden;
}
#background_img {
	width: 				100%;
	height: 			100%;
	overflow: 			hidden;
	opacity: 			0.70;
}


/* dropdown menu */
.dropdown {
	position: 			relative;
	display: 			inline-block;
	cursor: 			pointer;
}
.dropdown-content {
	display: 			none;
	position: 			absolute;
	background-color: 	#f9f9f9;
	min-width: 			160px;
	box-shadow: 		0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:			1;  		/* dropdown always in front */
}
.dropdown-content a {
	padding: 			12px 16px;
	text-decoration: 	none;
	display: 			block;
}
.dropdown-content a:hover {
	background-color: 	#f1f1f1;	/* dropdown menu background color */
	background:		 	#008042;	/* dropdown menu selection color */
}
.dropdown:hover .dropdown-content {
	display: 			block;
}
